@media print{
    @page{
        size:A4;
        margin:20mm;
    }
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    };

    body{
        background-color: #f5f7fa;
        color: #1f1f1f;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    .no-print{
        display: none;
    }

    html, body {
        width: 210mm;
        height: 297mm;
    }

    .ant-table{
        font-size:11px;
    }
}